@import "../../variables";
:host {
  padding-top: 10%;
  display: block;
}

.container {
  max-width: 600px;
}

.home-title {
  display: inline-block;
}

h2 {
  display: inline-block;
  font-size: 1.2em;
}

nav {
  margin-bottom: 20px;
}

.mat-raised-button {
  text-transform: uppercase;
  font-weight: bold;
}

form {
  min-height: 426px;
  &>div {
    min-height: 280px;
    width: 100%;
  }
  .send-btn {
    background-color: #4285f4;
    color: #fff;
  }
  md-form-field {
    display: block;
    width: 100%;
  }
  .error-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
  p {
    color: $text-color;
    margin: 0;
  }
  .text-sending {
    font-family: $font-title;
    color: $text-color;
  }
}

/deep/ .project-content {
  .mat-input-flex {
    align-items: flex-start;
  }
  .mat-input-prefix {
    margin-top: 17px;
  }
}

/deep/ .mat-input-prefix {
  margin-right: 10px;
  color: #666;
}

.icon-stack {
  height: 100px;
  md-icon:first-child {
    position: relative;
    font-size: 100px;
    width: 100px;
    height: 100px;
    color: $title-color;
  }
  md-icon:last-child {
    position: absolute;
    margin-top: -50px;
    margin-left: 65px;
  }
}
