/* You can add global styles to this file, and also import other style files */

// Core variables and mixins
@import "./libs/bootstrap/scss/variables";
@import "./libs/bootstrap/scss/mixins";
// Reset and dependencies
@import "./libs/bootstrap/scss/normalize";
@import "./libs/bootstrap/scss/print";
// Core CSS
@import "./libs/bootstrap/scss/reboot";
@import "./libs/bootstrap/scss/type";
@import "./libs/bootstrap/scss/images";
@import "./libs/bootstrap/scss/code";
@import "./libs/bootstrap/scss/grid";
@import "./libs/bootstrap/scss/tables";
@import "./libs/bootstrap/scss/forms";
@import "./libs/bootstrap/scss/buttons";
// Components
@import "./libs/bootstrap/scss/transitions";
@import "./libs/bootstrap/scss/navbar";
@import "./libs/bootstrap/scss/utilities";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
  height: 100%;
  overflow-x: hidden;
}

body,
.mat-form-field,
.mat-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button {
  font-family: 'Lato', sans-serif;
}

.home-title {
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  color:#555!important;
}

.project-title {
  font-size: 20px;
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a.back-icon {
  font-size: 28px;
  margin-right: 20px;
  text-decoration: none;
  color:#4285f4!important;
}

a.back-icon:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}
