<div class="container">
  <section>
    <h1>Alexis Largaiolli</h1>
    <h2 i18n>Développeur freelance basé à Montpellier</h2>
    <p class="text-justify" i18n>
      Curieux de nature et passionné d'ingénierie logicielle, j'ai évolué pendant 4 ans sur le poste de chef de projet au sein
      de la startup montpelliéraine WeAreLearning. Freelancer à temps partiel pendant cette période, j'ai développé d'innovantes
      applications web. Fort de ces expériences, je maîtrise un large panel de compétences allant au-delà du développement
      web comme l'administration de système, la mise en place d'infrastructures serveurs, la sécurité informatique etc...
    </p>
  </section>

  <nav>
    <a #workLink (click)="goTo(workLink, '/works')" class="home-title">Mes projets</a>
    <a #clientsLink (click)="goTo(clientsLink, '/clients')" class="home-title">Mes clients</a>
    <a #contactLink (click)="goTo(contactLink, '/contact')" class="home-title">Me contacter</a>
  </nav>
</div>
