<div class="container">
  <section>
    <h1>Alexis Largaiolli</h1>
    <h2 i18n>Développeur freelance basé à Montpellier</h2>
    <p class="text-justify" i18n>
      Curieux de nature et passionné d'ingénierie logicielle, j'ai évolué pendant 4 ans sur le poste de chef de projet au sein
      de la startup montpelliéraine WeAreLearning. Freelancer à temps partiel pendant cette période, j'ai développé d'innovantes
      applications web. Fort de ces expériences, je maîtrise un large panel de compétences allant au-delà du développement
      web comme l'administration de système, la mise en place d'infrastructures serveurs, la sécurité informatique etc...
      Je réalise de la veille en permanence et n'hésite jamais à essayer de nouvelles technologies me permettant de répondre
      au mieux à chaque projet. Ainsi, je réalise auprès de vous un véritable travail d'analyse et de conseil pour imaginer
      et développer les solutions web qui répondent le mieux à vos besoins. Dans mon travail, j'accorde une valeur toute
      particulière à la qualité des rapports humains, qui, j'en suis sûr, contribue grandement à la réussite de projet.
    </p>
  </section>

  <div class="text-center">
    <a #workLink (click)="goTo(workLink, '/works')" class="home-title">Projets</a>
    <a #clientsLink (click)="goTo(clientsLink, '/clients')" class="home-title">Clients</a>
    <a #contactLink (click)="goTo(contactLink, '/contact')" class="home-title">Contactez-moi</a>
  </div>
</div>
