@import '../../variables';
:host {
  height: 100%;
  display: block;
}

h1,
h2 {
  font-family: 'Anton', sans-serif; // font-family: 'Ubuntu', sans-serif;
  // font-family: 'Lobster', cursive; 
  // font-family: 'Bevan', cursive;
}

h1 {
  color: $title-color;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

h2 {
  color: $accent-color;
  ;
}

p {
  color: #555;
  text-align: justify;
}

nav {
  text-align: right;
  a:not(:last-child) {
    margin-right: 30px;
  }
}

.link-panel {
  a {
    margin: 20px 0;
    text-decoration: none;
    color: $text-color;
    transition: 100ms transform;
    transition-timing-function: ease-in-out;
    .fa {
      font-size: 40px;
    }
    .linkedin {
      color: #0077B5;
    }
    .fa,
    img {
      width: 40px;
      margin-right: 10px;
      vertical-align: middle;
    }
    &:hover {
      transform: scale(1.1);
      transform-origin: center center;
    }
  }
}
