@import '../../variables';
:host {
  padding-top: 5%;
  height: 100%;
  display: block;
  &>.container {
    height: 100%;
  }
}

$nav-height: 40px;
$nav-margin: 20px;
nav {
  height: $nav-height;
  margin-bottom: $nav-margin;
}

.home-title {
  display: inline-block;
}

.project-list {
  // display: none;
  position: absolute;
  width: 100%;
  max-height: -moz-calc(100% - 60px);
  max-height: -webkit-calc(100% - 60px);
  max-height: calc(100% - 60px);
  padding-bottom: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;
  &.hidden {
    opacity: 0;
  }
  &>div {
    padding: 15px;
  }
  .project-list-item {
    overflow: hidden;
    border-radius: 2px;
    transition: 100ms box-shadow;
    transition-timing-function: ease-out;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    .project-list-item-image {
      overflow: hidden;
    }
    .project-list-item-title {
      padding: 15px;
      h2 {
        font-size: 20px;
        color: $title-color;
      }
      span {
        color: #666;
      }
    }
    img {
      max-width: 100%;
    }
    &:hover {
      // box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
      // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    }
  }
}
