<div class="container">
  <nav>
    <a (click)="back()" class="back-button back-icon fa fa-arrow-circle-left" aria-hidden="true"></a>
    <h1 #title class="home-title projects-title">Mes projets</h1>
  </nav>

  <div class="row project-list" [ngClass]="{'hidden': hideList}">
    <div *ngFor="let project of projects" (click)="selectProject(project, projectTitle, projectImage)" class="project-list-item project-{{project.id}} col-xs-12 col-md-6">
      <div>
        <img #projectImage [src]="project.slides[0].posterUrl">
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>
</div>
